# Default ignored files
/shelf/
/.idea/workspace.xml
.idea/cliente-servidor.iml

# Archivos compilados
out/

# Ignorar servicios empaquetados
/src/server/services/*
src/client/local-services/*
src/services/jar/*

# Excepciones
!/src/server/services/GreetingService.jar
!src/client/local-services/ByeService.jar
!src/services/jar/ByeService.jar
!src/services/jar/GreetingService.jar